<!-- Step 2 - OTP Form -->
<div class="container min-vh-100 d-flex justify-content-center align-items-center">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
      <div class="card border border-light-subtle rounded-3 shadow-sm">
        <div class="m-3">
          <a routerLink="/auth/login" class="link-secondary text-decoration-none">
            <i class="bi bi-arrow-left fs-5 me-2"></i>
            <strong>Back to Login</strong>
          </a>
        </div>
        <div class="card-body p-3 p-md-4 p-xl-5">
          <!-- Otp Message -->
          <h2 class="fs-6 fw-normal text-center text-secondary mb-4">Enter the 6-digit code</h2>
          <form class="otpForm" [formGroup]="otpForm" (ngSubmit)="submitOtpForm()">
            <div class="row gy-2 overflow-hidden">
              <div class="col-12">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" formControlName="otp" id="otp" placeholder="Enter OTP" pattern="\d{6}" [ngClass]="{'is-valid': otpForm.controls['otp'].valid, 'is-invalid': otpForm.controls['otp'].errors && isSubmitted}">
                  <label for="otp" class="form-label">6-digit OTP</label>
                  <div *ngIf="otpForm.controls['otp'].errors && isSubmitted" class="invalid-feedback">
                    <div *ngIf="otpForm.controls['otp'].errors?.['required']"> otp is required</div>
                    <div *ngIf="otpForm.controls['otp'].errors?.['minlength']"> otp is 6 digit long </div>
                  </div>
                </div>
              </div>
              <ng-container *ngIf="otpMessage">
                <div class="col-12">
                  <div class="bg-success text-white rounded p-2">
                    {{ otpMessage }}
                  </div>

                </div>
              </ng-container>
              <div class="col-12">
                <div class="d-grid my-3">

                  <ng-container *ngIf="isLoading">
                    <div class="btn btn-primary btn-lg">
                      <app-loader></app-loader>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="!isLoading">
                    <button class="btn btn-primary btn-lg" type="submit">Verify</button>
                  </ng-container>

                </div>
              </div>
              <div class="col-12">
                <p class="m-0 text-secondary text-center">Didn't receive the code? <a href="#!" class="link-primary text-decoration-none">Resend</a></p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>